NEXT_PUBLIC_SUPABASE_URL=https://wwusodaaxmedsdwxacwf.supabase.co/
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind3dXNvZGFheG1lZHNkd3hhY3dmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQwMjUyOTQsImV4cCI6MjA5OTYwMTI5NH0.MAyrSl1KGhIdMvbIho5fKmY4Vs-a1SmEPxUmRv-TDMU
GOOGLE_BOOKS_API_KEY=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
